<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <form action="/boards/delete" method="post">
        <div class="form-group">
            <table>
                <tr>
                    <td><label for="id">글 번호</label></td>
                    <td><input type="number" id="id" name="id" placeholder="삭제할 게시글의 번호를 입력하세요"></td>
                </tr>
            </table>
        </div>
        <button type="submit">삭제</button>
    </form>
</div> <!-- /container -->
</body>
</html>